{% extends "app_1/layout/base2.html" %}
{% load staticfiles %}
{% load static %}
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'css/app_1.css' %}" />
</head>

{% block content %}
<!-- Content Here -->
<div class="pojok-kanan">
</div>
<br>
<div class="panel panel-default">
    <div class="panel-heading" style="background-color:lightsteelblue;">
        <b><p class="head"> Selamat Datang, {{ user.name }} </h2></p>
    </div>
    <div class="panel-body" style="background-color: #FFF5EE;">
		<img src="https://pixabay.com/static/img/profile_image_dummy.svg" class="img-circle" height="150" width="150" align="left"></img>
       
        <a href="#" style="text-align:left;float:up;">
            <button type="button" class="btn btn-default" id="forum-button"> <b>Lihat Forum</b> </button>
        </a>
        <b style="text-align:left" class="jumlah-status">  <img src="https://png.icons8.com/metro/540/new-post.png" width="35px" height="35px" id="img-forum"></img> {{ status_count }}</b><br>

        <a href="#" style="text-align:left;float:down;">
            <button type="button" class="btn btn-default" id="profile-button"><b>Edit Profile</b></button>
			
        </a>
		
		<h4 style="text-align:center;float:up;" class="last-status"><br> <p style="text-align:center"><i><b> " {{last_Status.description}}"</b></p></i></h4>
        
    </div>
</div>

<div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li role="presentation" class="active">
            <a href="#status" aria-controls="home" role="tab" data-toggle="tab"> Status </a>
        </li>
		

	   <li role="presentation">
            <a href="#profile" aria-controls="settings" role="tab" data-toggle="tab"> Profile</a>
        </li>
        <li role="presentation">
            <a href="#riwayat" aria-controls="settings" role="tab" data-toggle="tab"> Riwayat </a>
        </li>
        <li role="presentation">
            <a href="#teman" aria-controls="settings" role="tab" data-toggle="tab"> Teman </a>
        </li>
    </ul>
	

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="status">
            {% include 'app_1/tabs/status.html' %}
        </div>
        <div role="tabpanel" class="tab-pane fade" id="profile">
            <!-- Apply the same here -->
            {% include 'app_1/tabs/profile.html' %}
        </div>
        <div role="tabpanel" class="tab-pane fade" id="riwayat">
            <!-- Apply the same here -->
            {% include 'app_1/tabs/riwayat.html' %}
        </div>
        <div role="tabpanel" class="tab-pane fade" id="teman">
            <!-- Apply the same here -->
            {% include 'app_1/tabs/teman.html' %}
        </div>
    </div>
</div>
{% endblock %}
