.row{
		background-color:#C0C0C0;
		border:4px solid rgba(0,0,0,0.3);
		border-radius:8px;
		width:500px;
		height:500x;
		margin-left:320px;

	}
	
	
.prof{
	font-family:Impact;
	font-size:20px;
	
}

.gambarku{
	width:150px;
	height:150px
	
}
#username{
	border-radius:8px;
	width:180px;
	height:40px;
	
}

#password{
	border-radius:8px;
	width:180px;
	height:40px;
	
}


.container2{
	background-color: gray;
}

.head{
	font-size:36px;
	font-family: AR DARLING;
	
}

.status-form-textarea{
		width:600px;
		height:150px;
		border-radius:6px;
		background-color : white;
		margin-left:200px;
	}
	
.post-button{
	padding-top:20px; 	
	margin-left:480px;
		background:#2C97DF;
		color:white;
		border-top:0;
		border-left:0;
		border-right:0;
		border-bottom:5px solid #2A80B9;
		padding:10px 20px;
		text-decoration:none;
		font-family:sans-serif;
		font-size:11pt;
		text-decoration:bold;
	

	
}

.jumlah-status{
	margin-left:200px;
	font-size:20px;
}

.status-text{
	font-size:18px;
}

#forum-button{
	background-color:gray;
	color:white;
	margin-left:30px;
	border-radius:20px;
	
		
}

#profile-button{
		background-color:gray;
	color:white;
	margin-left:30px;
	margin-top:10px;
	border-radius:20px;
	
		
}

#login-but{
	width:80px;
	height:40px;
	font-size:20px;
	
}

@media only screen and (max-width: 768px) {
	
	.gambarku{
	width:50px;
	height:50px
	
}
	
	
	.row{
		background-color:#C0C0C0;
		border:4px solid rgba(0,0,0,0.3);
		border-radius:8px;
		width:335px;
		height:400px;
		margin-left:5px;
	}
	
	#username{
	border-radius:8px;
	width:180px;
	height:40px;
	
}

#password{
	border-radius:8px;
	width:180px;
	height:40px;
	
}
	
	.jumlah-status{
	margin-left:60px;
	font-size:20px;
}
	
	.status-form-textarea{
		width:300px;
		height:190px;
		border-radius:6px;
		background-color : white;
		margin-left:5px;
	}
	
	.post-button{
	padding-top:20px; 	
	margin-left:120px;
		background:#2C97DF;
		color:white;
		border-top:0;
		border-left:0;
		border-right:0;
		border-bottom:5px solid #2A80B9;
		padding:10px 20px;
		text-decoration:none;
		font-family:sans-serif;
		font-size:11pt;
		text-decoration:bold;
	
}