<div class="container2">
	 <div class="panel panel-info">
    <div class="panel-heading">
        <h2> Profile</h2>
    </div>
	<p class="prof">
		Nama :		-
	<br><br>
	Role :		{{role}}
	<br><br>
	NPM  :		{{kode_identitas}}
	<br><br>
	Keahlian : -
	<br><br>
	Email: -
	<br><br>
	Profil Linkedin: - 
	</p>
    </div>
	



   

</div>