<div class="container2">
	 <div class="panel panel-info">
    <div class="panel-heading">
        <h2> Post Status</h2>
    </div>
		{% if role  == "mahasiswa" %}
        <div class="panel-body">
            <section name="form">
                <form id="form" method="POST" action="{% url 'app2-1:post-status' %}">
                    {% csrf_token %}
                    {{ status_form }}
					<br>
					<div class="but">
						<input id="submit" type="submit" class="post-button" value="Post">
					</div>
                </form>
            </section>
        </div>
		
		{% else %}
		<p></p>
		
		{% endif %}
    </div>
	



    {% for status in Status %}
    <div class="panel panel-default">
        <div class="panel-heading" >
		<img src="https://pixabay.com/static/img/profile_image_dummy.svg" class="img-circle" height="50" width="50" align="left"></img>
            <h3> {{ user.name }} </h3>
            <h5> at {{ status.created_at }} </h5>
        </div>
        <div class="panel-body">
            <p class="status-text"> {{ status.description }} </p>
        </div>
    </div>
    {% endfor %}

</div>